 body {
    background-color: #eeeeee;
    font-family: "Red hat Display", sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/2114014/pexels-photo-2114014.jpeg);
    background-size: cover;
 }

 .container {
    background-color: #1f2949;
    color: #000000;
    max-width: 330px;
    text-align: center;
    background-color: transparent;
    background-size: cover;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
    
 }

 .busca {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 5px;

 }
 .busca input {
    background-color: #0a143525;
    padding: 10px;
    border-radius: 5px;
    border: none;   
    outline: none;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.8;
 }

 .busca .btn-busca {
    background-color: #0a143525;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0.8;

 }

 .busca .lupa {
    width: 30px;
    padding: 6px;
    opacity: 0.8;

 }

 .informacao-princinpal {
    margin: 30px;

 }

 .informacao-princinpal h1 {
    font-size: 18px;
 }

 .informacao-princinpal .temperatura{  
    font-size: 68px;
    margin: 20px 0;
 }

 .informacao-princinpal .condicao {
    font-size: 20px;
 }

 .informacao-secundaria {
   background-color: transparent;
   color: #000000;
   padding: 20px 30px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
 }

 .informacao-secundaria .humidade, .informacao-secundaria .velocidade-do-vento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
 }

